<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Alpha</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>RewindButtonAlpha</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>1.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Corner Radius And Border</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Corner Radius</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>27.5</real>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>rewindButtonCornerRadius</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>500.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Border Width</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.0</real>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>rewindButtonBorderWidth</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>10.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>rewindButtonBackgroundCustomColor</string>
			<key>label</key>
			<string>Custom Button Background Color</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>love.litten.lobelias.colorspreferences</string>
				<key>fallback</key>
				<string>#ffffff</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Button Background Color</string>
			<key>key</key>
			<string>rewindButtonBackgroundColor</string>
			<key>PostNotification</key>
			<string>love.litten.lobelias.colorspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>rewindButtonCustomColor</string>
			<key>label</key>
			<string>Custom Button Color</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>love.litten.lobelias.colorspreferences</string>
				<key>fallback</key>
				<string>#ffffff</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Button Color</string>
			<key>key</key>
			<string>rewindButtonColor</string>
			<key>PostNotification</key>
			<string>love.litten.lobelias.colorspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>rewindButtonBorderCustomColor</string>
			<key>label</key>
			<string>Custom Button Border Color</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>love.litten.lobelias.colorspreferences</string>
				<key>fallback</key>
				<string>#ffffff</string>
				<key>alpha</key>
				<false/>
			</dict>
			<key>label</key>
			<string>Button Border Color</string>
			<key>key</key>
			<string>rewindButtonBorderColor</string>
			<key>PostNotification</key>
			<string>love.litten.lobelias.colorspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>rewindButtonBackgroundLibKitten</string>
			<key>label</key>
			<string>Artwork Based Background Color</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>rewindButtonLibKitten</string>
			<key>label</key>
			<string>Artwork Based Button Color</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>rewindButtonBorderLibKitten</string>
			<key>label</key>
			<string>Artwork Based Border Color</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Miscellaneous</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>rewindButtonHapticFeedback</string>
			<key>label</key>
			<string>Haptic Feedback</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>

	</array>
	<key>title</key>
	<string>Lobelias</string>
</dict>
</plist>
